
body
{
	background-color: black;
	background-image: url(./background.png); /*https://commons.wikimedia.org/wiki/File:Mountains-1412683.svg*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container-sm
{
	padding-top: -50%;
	margin: auto;
	margin-top: 10%;
	width: auto;
	max-width: 480px;
	height: auto;
	text-align: left;
	padding: auto;
	font-size: 30px;
	padding: 20px;

	-webkit-box-shadow: 3px 3px 12px 5px rgba(0,0,0,0.56);
	-moz-box-shadow: 3px 3px 12px 5px rgba(0,0,0,0.56);
	box-shadow: 3px 3px 12px 5px rgba(0,0,0,0.56);

	transition: 3s;

	background-color: white;
	opacity: 1;
}
.container:focus
{
	margin-top: -10%;
	opacity: 0;
}

.form-group
{
	width: 500px;
	padding-left: 30px;
}

footer
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
font-size: 13px;
color: black;
text-align: right;
}

.VoteWarning
{
	margin-left: auto;
	color: red;
	font-size: 16px;	
	padding: 5px;
	border: 5px solid red;
	opacity: 0;
}
#VoteForm:hover .VoteWarning
{
	opacity: 1;
}
#VoteForm:hover .container-sm
{
	border: 5px solid red;
}
